@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #111827; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 10px 0 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  border: none;
    border-radius: 0;
  width: 100%;
  height: 48px;
  border: 1px solid #D0D5DD;
    border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
          box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  color: #1F2937; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #9CA3AF; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #9CA3AF; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #9CA3AF; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #9CA3AF; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

textarea {
  resize: none;
  height: 96px;
  padding: 12px 14px 12px 42px; }

label {
  display: block;
  position: relative;
  width: 100%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 4px; }
  .btn strong {
    margin: 0 0 0 5px; }

.btn-accent {
  color: #fff;
  background: #2563EB; }
  .btn-accent:hover, .btn-accent:focus {
    background: #1E3A8A;
    color: #fff; }

.btn-border {
  border: 1px solid #2563EB;
    border-radius: 4px;
  color: #2563EB; }
  .btn-border:hover {
    background: #1E3A8A;
    color: #fff; }

.btn-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .btn-group .btn {
    margin: 0 30px 0 0; }
    .btn-group .btn:last-child {
      margin: 0; }

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 4px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.container {
  max-width: 1240px;
  padding: 0 12px; }

.row {
  margin: 0 -12px; }
  .row > * {
    padding: 0 12px; }

h1 {
  width: 100%;
  font-size: 48px;
  font-weight: 600; }

h2 {
  font-size: 28px;
  font-weight: 600;
  width: 100%;
  margin: 0 auto 16px; }

.text-title {
  text-align: center;
  color: #6B7280;
  font-size: 18px;
  line-height: 150%; }

.mb-20 {
  margin-bottom: 20px; }

.mb-32 {
  margin-bottom: 32px; }

.p-96 {
  padding: 96px 0; }

.color-green {
  color: #00850D; }

.color-accent {
  color: #2563EB; }

.color-red {
  color: #DC2626; }

.text-decoration {
  text-decoration: underline; }

.bg-light-blue {
  background: #F7FBFF; }

.table {
  width: 100%;
  line-height: 150%;
  font-size: 14px; }
  .table td {
    border: none;
    padding: 16px 8px; }
  .table span {
    color: #6B7280;
    font-size: 12px;
    font-weight: 500; }
  .table thead td {
    vertical-align: middle; }

thead {
  background: #EFF6FF; }

tbody tr:nth-child(even) {
  background: #F3F4F6; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0 0;
  color: #6B7280;
  font-size: 14px;
  cursor: pointer; }
  .checkbox input {
    display: none; }
    .checkbox input:checked + .checkbox-custom {
      background: #EFF6FF url("../img/checkbox.svg") no-repeat center;
        background-size: 14px; }

.checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 8px 0 0;
  width: 20px;
  height: 20px;
  min-width: 20px;
  background: #EFF6FF;
  border: 1px solid #2563EB;
    border-radius: 6px; }

.select2-container--default .select2-selection--single {
  height: 48px;
  border: 1px solid #D0D5DD;
    border-radius: 4px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 48px;
  padding: 0 30px 0 42px;
  color: #9CA3AF;
  font-size: 16px;
  font-family: "Inter", sans-serif; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  background: url("../img/arrow-select.svg") no-repeat center;
    background-size: 100%;
  right: 14px;
  width: 16px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none; }

.select2-search--dropdown {
  display: none; }

.select2-dropdown {
  border: 1px solid #D0D5DD; }

.select2-container--default .select2-results__option--selected {
  background: #2563EB;
  color: #fff; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  width: 100%;
  border: none;
  background: transparent;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.breadcrumb-section {
  background: #ffffff;
  padding: 16px 0; }

.breadcrumb {
  background: transparent;
  padding: 0;
  border: none;
    border-radius: 0;
  margin: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
  color: #1E3A8A; }
  .breadcrumb a {
    color: #667085; }
    .breadcrumb a:hover {
      color: #1E3A8A; }

.breadcrumb-item.active {
  color: #1E3A8A; }

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .breadcrumb-item + .breadcrumb-item:before {
    content: '';
    padding: 0;
    width: 16px;
    height: 16px;
    min-width: 16px;
    background: url("../img/arrow-right-breadcrumb.svg") no-repeat center;
      background-size: 100%; }

.input-checked input {
  background: #FFFFFF url("../img/check-green.svg") no-repeat calc(100% - 14px) center;
    background-size: 16px; }

.slick-slider {
  width: 100%; }

.slick-arrow {
  background: transparent;
  fill: none;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  border: none;
    border-radius: 0;
  stroke: #2563EB;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0; }

.slick-next {
  left: 24px; }
