@import "vars"

/*==========  section header ==========*/
header
  padding: 16px 0
  background: #fff
  .menu
    margin: 0 auto 0 0

.btn-burger
  @include d-flex
  box-shadow: 0 24px 48px -12px rgba(16, 24, 40, 0.25)
  background: #fff
  width: 40px
  height: 40px
  min-width: 40px
  cursor: pointer
  border-radius: 4px
  padding: 8px
  margin: 0 24px 0 0
  stroke: #2563EB

.logo
  display: flex
  align-items: center
  color: #6B7280
  font-size: 12px
  font-weight: 500

.logo-image
  @include d-flex
  margin: 0 8px 0 0
  width: 32px
  min-width: 32px

.logo-title
  font-size: 20px
  font-weight: 600
  text-transform: uppercase
  color: #1D4ED8
  display: block
  &:first-letter
    color: #6B7280

.form-search
  position: relative
  max-width: 186px
  width: 100%
  margin: 0 40px
  button
    fill: none
    background: transparent
    padding: 0
    width: 24px
    height: 24px
    stroke: #2563EB
    position: absolute
    top: 50%
    transform: translate(0,-50%)
    left: 8px
    @include d-flex
  input
    padding: 0 10px 0 40px
    font-style: italic
    color: #6B7280
    &::placeholder
      color: #6B7280

.menu
  display: flex
  align-items: center
  flex-wrap: wrap
  font-weight: 500
  li
    margin: 0 24px 0 0
    &:last-child
      margin: 0
    a
      color: #1F2937
      border-bottom: 2px solid transparent
      padding: 4px 0
      &:hover
        color: #2563EB
        border-bottom-color: #2563EB
    .active
      color: #2563EB
      border-bottom-color: #2563EB


.header-contacts
  position: relative
  padding: 0 0 0 32px
  &__icon
    width: 24px
    height: 24px
    fill: none
    position: absolute
    left: 0
    top: 0
    stroke: #1E3A8A

.phone
  font-weight: 500
  color: #374151
  &:hover
    color: #374151
  span
    color: #1E3A8A

.schedule
  color: #9CA3AF
  font-size: 12px
  font-weight: 500

/*==========  section header end  ==========*/

/*==========  section  ==========*/

/*==========  section end  ==========*/

/*==========  section  ==========*/

/*==========  section end  ==========*/

/*==========  section  ==========*/

/*==========  section end  ==========*/