@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block


blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  background: #fff
  color: #111827

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  width: fit-content

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  appearance: none
  padding: 0 10px 0 42px
  box-sizing: border-box
  font-family: $default-font
  font-size: 16px
  font-weight: normal
  border: none
    radius: 0
  width: 100%
  height: 48px
  border: 1px solid #D0D5DD
    radius: 4px
  background: #fff
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05)
  color: #333
  &::placeholder
    color: #9CA3AF
  &:hover, &:focus
    outline: none
    box-shadow: none

label
  display: block
  position: relative
  width: 100%

button, .btn
  outline: none
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  font-family: $default-font
  padding: 0
  margin: 0
  border: none
    radius: 0

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 16px
  font-weight: 500
  padding: 12px 24px
  border-radius: 4px

.btn-accent
  color: #fff
  background: $accent

  &:hover, &:focus
    background: $hover
    color: #fff

.svg-icon
  display: inline-block
  width: 100%
  height: 100%

strong, b
  font-weight: bold
  display: inline-block

ul, ol
  padding: 0 0 0 20px

.my-ul
  list-style: none
  padding: 0

.container
  max-width: 1240px
  padding: 0 12px


.row
  margin: 0 -12px

  > *
    padding: 0 12px


h1
  width: 100%
  font-size: 48px
  font-weight: 600

h2
  font-size: 28px
  font-weight: 600
  width: 100%
  margin: 0 auto 16px

.text-title
  text-align: center
  color: #6B7280
  font-size: 18px
  line-height: 150%

.mb-20
  margin-bottom: 20px

.mb-32
  margin-bottom: 32px

.p-96
  padding: 96px 0

.color-green
  color: #00850D

.color-accent
  color: $accent

.text-decoration
  text-decoration: underline

.bg-light-blue
  background: #F7FBFF

.table
  width: 100%
  line-height: 150%
  font-size: 14px

  td
    border: none
    padding: 16px 8px

  span
    color: #6B7280
    font-size: 12px
    font-weight: 500

  thead
    td
      vertical-align: middle

thead
  background: #EFF6FF

tbody
  tr
    &:nth-child(even)
      background: #F3F4F6

.checkbox
  width: 100%
  display: flex
  align-items: center
  margin: 8px 0 0
  color: #6B7280
  font-size: 14px
  input
    display: none
    &:checked + .checkbox-custom
      background: #EFF6FF url("../img/checkbox.svg") no-repeat center
        size: 14px


.checkbox-custom
  @include d-flex
  margin: 0 8px 0 0
  width: 20px
  height: 20px
  min-width: 20px
  background: #EFF6FF
  border: 1px solid #2563EB
    radius: 6px

.select2-container--default .select2-selection--single
  height: 48px
  border: 1px solid #D0D5DD
    radius: 4px

.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: 48px
  padding: 0 30px 0 42px
  color: #9CA3AF
  font-size: 16px
  font-family: $default-font

.select2-container--default .select2-selection--single .select2-selection__arrow
  height: 100%
  background: url("../img/arrow-select.svg") no-repeat center
    size: 100%
  right: 14px
  width: 16px
  b
    display: none

.select2-search--dropdown
  display: none

.select2-dropdown
  border: 1px solid #D0D5DD

.select2-container--default .select2-results__option--selected
  background: $accent
  color: #fff

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
  width: 100%
  border: none
  background: transparent
  text-align: center
  display: flex
  align-items: center
  justify-content: center

